<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%-23d [%thread] %-5level %logger{32} - %m%n</Pattern>
        </layout>
    </appender>
    
    <logger name="com.cloudhopper" level="DEBUG"/>
    <logger name="org.jboss" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
